.image-first {
  width: 100%;
  margin: 0;
}

.image-first img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.order-button img {
  width: 22px;
  height: 35px;
}